body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

header {
  background-color: var(--misc-bg-color);
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: var(--nav-bg-color);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem 0;
}

a {
  position: relative;
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  padding-bottom: 5px;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: var(--link-color);
  width: 100%;
  transform: translateX(-50%) scaleX(0);
  /* start at center */
  transform-origin: center;
  transition: transform 0.5s ease;
  /* animationnn */
}

a:hover::after {
  transform: translateX(-50%) scaleX(1);
  /* start animation */
}

dt {
  padding: .25em
}

dd {
  padding: .25em
}

nav a {
  position: relative;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s;
  padding-bottom: 5px;
  /* space ofr underline */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--main-hr-color);
  margin: 1em 0;
  padding: 0;
}

nav a:hover {
  color: var(--nav-color);
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: var(--nav-color);
  width: 100%;
  transform: translateX(-50%) scaleX(0);
  /* start at center */
  transform-origin: center;
  transition: transform 0.3s ease;
  /* animationnn */
}

nav a:hover::after {
  transform: translateX(-50%) scaleX(1);
  /* start animation */
}

footer {
  text-align: center;
  background-color: var(--misc-bg-color);
  color: #999;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

section {
  /* sextion */
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background: var(--misc-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.4s, border 0.3s;
}

section:hover {
  /* hover effect :heart: */
  transform: translateY(-5px);
  border: 1px solid snow;
  box-shadow: 0 0px 10px var(--main-text-color);
}

a.link {
  color: var(--link-color);
}

a.link:hover {
  text-decoration: underline;
}

img {
  width: 10%;
  height: auto;
}