:root {
    --main-bg-color: #121212;
    --nav-bg-color: #2a2a2a;
    --misc-bg-color2: #222222;
    --misc-bg-color: #1f1f1f;
    --misc-light-bg-color: #1e1e1e;
    --nav-color: #a600ff;
    --link-color: #00ffb7;
    --main-text-color: #f1f1f1;
    --main-hr-color: #4c4c4c;
}